
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: 18px;
}

.flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 450px) {
    * {
        font-size: 10px;
    }
}